<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantillaAdmin :: head}"></head>
<body>
<header th:replace="~{layout/plantillaAdmin :: navbar}"></header>
<section>
    <h1 class="page-title">Nuestros Planes</h1>
    <div class="cards-container">
        <div class="plan-card" th:each="plan : ${planes}">
            <h2 th:text="${plan.nombre}"></h2>
            <p th:text="${plan.descripcion}"></p>
            <p><strong th:text="${#numbers.formatDecimal(plan.precio,1,'POINT',2,'POINT')}"></strong> CRC</p>
            <p th:text="${plan.duracionMeses} + ' meses'"></p>
        </div>
    </div>
</section>
</body>
</html>
