<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>FideGYM</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<header th:fragment="header">
    <nav class="navbar">
        <div class="nav-container">
            <a th:href="@{/}" class="logo">FideGYM</a>
            <ul class="nav-links">
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/planes}">Planes</a></li>
                <li><a th:href="@{/login}">Ingresar</a></li>
                <li><a th:href="@{/register}" th:if="${#authentication == null}">Regístrate</a></li>
            </ul>
        </div>
    </nav>
</header>
